PAYRAIL_GATEWAY_URL=http://192.168.9.69:18080
PAYRAIL_STORE_MERCHANT_ADDRESS=paydev1qzn5sxzyfr7zs37hlh2vk8zmc76qsvhk42z9duygfyhm9zz8kaqpqut57pl
PAYRAIL_WALLET_ORIGIN=https://wallet.payrail.one
PAYRAIL_STORE_BIND=0.0.0.0:18082
